<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Locations</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </head>
  <body>
      <div class="row">
          <div class="col-6">
            <div class="list-group" id="list-tab" role="tablist">

              <!-- Button and hidden form to create a new location -->
                <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#newloc" aria-expanded="false" aria-controls="newloc"> New Location </button>
                <div class="collapse" id="newloc">
                  <form id="newLocForm" action="" method="POST">
                    <div class="form-group">
                      <label for="newLocationName">Location Name</label>
                      <input type="text" class="form-control" id="newLocationName">
                    </div>
                    <button type="button" class="btn btn-secondary" name="submit" value="submit" id="newSubmit">Submit</button>
                  </form>
                </div>
              <!-- Button and hidden form to update a location -->
                <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#updateLoc" aria-expanded="false" aria-controls="updateLoc"> Update Location </button>
                <div class="collapse" id="updateLoc">
                      
                  <form id="updateLocForm" action="" method="PUT">
                      <div class="form-group">
                        <label for="updateLocationName">Location Name</label>
                        <input type="text" class="form-control" id="updateLocationName">
                      </div>
                      <div class="form-group">
                          <label for="updateLocationID">Location ID</label>
                          <input type="text" class="form-control" id="updateLocationID">
                        </div>
                      <button type="button" class="btn btn-secondary" name="submit" value="submit" id="updateSubmit">Submit</button>
                  </form>
                </div>

              <!-- Button and hidden form to delete a location -->
              <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#deleteLoc" aria-expanded="false" aria-controls="deleteLoc"> Delete Location </button>
              <div class="collapse" id="deleteLoc">
                    
                <form id="deleteLocForm" action="" method="DELETE">
                    <div class="form-group">
                        <label for="deleteLocationID">Location ID</label>
                        <input type="text" class="form-control" id="deleteLocationID">
                      </div>
                    <button type="button" class="btn btn-secondary" name="submit" value="submit" id="deleteSubmit">Submit</button>
                </form>
              </div>

              <!-- Lists all the locations and makes them clickable to see more info -->
                {% for location in locations %}
                  <a class="list-group-item list-group-item-action" href="{{location.id}}">ID:{{location.id}} {{location.name}}</a> 
                {% endfor %}
            </div>
          </div>

          <!-- Information and configuration
          <div class="col-4">
            <div class="tab-content" id="nav-tabContent">
              {% for location in locations %}
                <div class="tab-pane fade show" id="list-{{location.id}}" role="tabpanel" aria-labelledby="list-{{location.id}}-list">
                  <a class="list-group-item list-group-item-action list-group-item-success" href={{location.id}}>Ingredients</a>
                </div>
              {% endfor %}
              </div>
          </div>
          -->
      </div>
    

        <script>
          $(document).ready(function () {

            // Create a new Location
            $('#newSubmit').on("click", function(event){

              var name = $('#newLocationName').val();
              console.log(name);

                // Send request via AJAX
                $.ajax({
                    type: "POST",
                    url: "/v1/locations/",
                    headers: {
                        "Authorization": "Bearer " + sessionStorage.getItem("access_token")
                    },
                    contentType: "application/json",
                    data: JSON.stringify({"locationName": name}),
                    error: function(xhr, status, error) {
                      console.log(xhr.responseText)
                    },
                    success: function(data) {
                    location.reload()
                  },
                  statusCode: {
                    401: function() {
                      window.location.href = "/locations/login"
                    }
                  }
                })
            }); 

            // Update a location
            $('#updateSubmit').on("click", function(event){

              var name = $('#updateLocationName').val();
              var id = $('#updateLocationID').val();
              console.log(name, id);

              //Send request via AJAX
              $.ajax({
                  type: "PUT",
                  url: "/v1/locations/" + id,
                  headers: {
                      "Authorization": "Bearer " + sessionStorage.getItem("access_token")
                  },
                  contentType: "application/json",
                  data: JSON.stringify({"locationName": name}),
                  error: function(xhr, status, error) {
                      console.log(xhr.responseText)
                  },
                  success: function(data) {
                    location.reload()
                  },
                  statusCode: {
                    401: function() {
                      window.location.href = "/locations/login"
                    }
                  }
              })
            });

            // Delete a location
            $('#deleteSubmit').on("click", function(event){

              var id = $('#deleteLocationID').val();
              console.log(id);

              //Send request via AJAX
              $.ajax({
                  type: "DELETE",
                  url: "/v1/locations/" + id,
                  headers: {
                      "Authorization": "Bearer " + sessionStorage.getItem("access_token")
                  },
                  contentType: "application/json",
                  error: function(xhr, status, error) {
                      console.log(xhr.responseText)
                  },
                  success: function(data) {
                    location.reload()
                  },
                  statusCode: {
                    401: function() {
                      window.location.href = "/locations/login"
                    }
                  }
                })
            });

            // $('[id^=test]').on("click", function(event){
            //   console.log($(event.target).val());
            // });

        });

        </script>
  </body>
</html>
